.container{
    display: flex;
    flex-direction: row;
    margin: 5rem;
    align-items: center;
    background-color: black;
    color: white;
    text-align: left;
    border-radius: 1rem;
}
.left{
    margin: 2rem;
    background-color: #1f1f1f;
}
.right{
    margin: 2rem;
    font-size: 2rem;
    background-color: #1f1f1f;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #1f1f1f;
    text-align: center;
    background-attachment: fixed;
    background-image: url("https://media.discordapp.net/attachments/949159970094583854/952436470113792040/1.png?width=1089&height=612");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    background-color: #1f1f1f;
}
#logo{
    height: 5rem;
    margin: auto 2rem;
    padding-bottom: 1rem;
}
nav{
    padding-top: 1rem;
    background-color: black;
    margin-bottom: 5rem;
}
.card{
    margin: 2rem;
    padding: 1rem;
}
.name1{
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.explore{
    margin: 1rem 0rem;
    background-color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}
.title{
    font-size: 3rem;
    color: black;
    font-weight: bolder;
}
.cards{
    display: flex;
    flex-direction: row;
}
.cardsBox{
    margin: auto 5rem;
}
h1{
    border: solid #ff993d 8px;
    margin: 30rem;
    color: white;
}
