body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow: hidden;
}
#logo{
    height: 4rem;
    margin: auto 2rem;
}
nav{
    padding-top: 1rem;
    background-color: #1f1f1f;
}
nav a{
    color: #f16a91;
}
nav a:hover{
    color: white;
}
.label{
    background-color: aliceblue;
    margin: auto 2.4rem;
    /* border: solid black; */
    padding: 1rem;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}
.label:hover{background-color: #ffffff;}
.l1{
    background-color: #7ef3f3;
}
.l2{
    background-color: #65b96d;
}
.l3{
    background-color: #a09f52;
}
img{
    height: 30rem;
}
@media (min-width: 769px){
    
}

@media(max-width: 769px) and (min-width:400px){

}

@media (max-width:400px){

}
img{
    height: 65%;
    margin-top: 2rem;
}
.row{
    background-color: #1f1f1f;
    margin-bottom: 2rem;
}
