@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    /* background-image: url("https://cdn3.vectorstock.com/i/1000x1000/24/12/white-indian-lotus-on-blue-background-vector-21332412.jpg"); */
    /* text-align: center; */
    background-color: #1f1f1f;
    background-attachment: fixed;
}
#logo{
    height: 5rem;
    margin: auto 2rem;
    padding-bottom: 1rem;
}
nav{
    padding-top: 1rem;
    background-color: #1f1f1f;
    margin-bottom: 3rem;
}
nav:hover{
    background-color: black;
}


.below-nav{
    text-align: center;
}
.row{
    margin: 5rem;
}
.card{
    margin: 2rem;
    padding: 2rem 2rem 0.5rem;
    background-color: #ff993d;
    text-align: left;
}
.below-nav h1{
    background-color: #1f1f1f;
    font-size: 5rem;
    margin: auto 20rem;
    border: none;
    border-radius: 1rem;
    color: white;
    border: solid #44aa88 10px;
}
.name1{
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.explore{
    margin: 1rem 0rem;
    background-color: #000000;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: white;
}
.explore:hover{
    background-color: #1f1f1f;
}
img{
    margin-bottom: 1rem;
}
.name1{
    margin-bottom: 1rem;
}
.description{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.explore a{
    color: white;
}
