@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    background-image: url("https://media.discordapp.net/attachments/949159970094583854/952381456708145212/1647135783098.png?width=1089&height=612");
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    height: 4rem;
    margin: auto 2rem;
}
.right a{
    text-decoration: none;
    margin: auto 2rem;
}
nav{
    padding-top: 1rem;
    /* background-color: black; */
}
.below-nav{
    margin: 6rem auto auto;
    text-align: center;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    border: none;
}
#start{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #ffffff;
}
.header{
    color: #ffffff;
}
nav a:hover{
    color: #ff993d;
}
nav a{
    color: white;
}
#start a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
#start:hover{
    background-color: #ff993d;
}
.box1{
    margin-left: -25rem;
    width: 40rem;
}
@media (min-width: 769px){
    .right{
        float: right;
        font-size: 3rem;
    }
    .right a{
        margin: auto 1rem;
    }
    .right i{
        display: none;
    }
    .header{
        font-size: 5rem;
        margin-bottom: 4rem;
    }
    #start{
        margin-bottom: 1rem;
    }
    .below-nav{
        max-width: 40%;
    }
}

@media(max-width: 769px) and (min-width:400px){
    .right{
        font-size: 2rem;
    }
    #logo{
        display: none;
    }
    body{
        text-align: center;
    }
    .header{
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    #start{
        margin-bottom: 0.5rem;
    }
    .below-nav{
        max-width: 50%;
    }
}

@media (max-width:400px){
    .right{
        font-size: 1rem;
    }
    #logo{
        display: none;
    }
    body{
        text-align: center;
    }
    .header{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    #start{
        margin-bottom: 0.5rem;
    }
    .below-nav{
        max-width: 50%;
    }
}
