body{
    margin: 0px;
    padding: 0px;
    background-image: url("https://cdn3.vectorstock.com/i/1000x1000/20/67/vintage-indian-seamless-wallpaper-vector-5782067.jpg");
}
#logo{
    height: 4rem;
    margin: auto 2rem;
}
.right a{

    text-decoration: none;
    margin: auto 2rem;
}
nav{
    padding-top: 1rem;
    background-color: black;
}
.below-nav{
    margin: 6rem auto auto;
    text-align: center;
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    border: none;
}
#start{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #f16a91;
}
.header{
    color: #193a6b;
}
nav a{
    color: #f16a91;
}
nav a:hover{
    color: white;
}
@media (min-width: 769px){
    .right{
        float: right;
        font-size: 3rem;
    }
    .right a{
        margin: auto 1rem;
    }
    .right i{
        display: none;
    }
    .header{
        font-size: 6rem;
        margin-bottom: 2rem;
    }
    #start{
        margin-bottom: 1rem;
    }
    .below-nav{
        max-width: 40%;
    }
}

@media (max-width: 769px){
    .right{
        font-size: 2rem;
    }
    #logo{
        display: none;
    }
    body{
        text-align: center;
    }
    .header{
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    #start{
        margin-bottom: 0.5rem;
    }
    .below-nav{
        max-width: 50%;
    }
}